<div class="slim-navbar">
    <div class="container">
        <ul class="nav">
            <li class="nav-item with-sub">
                <a class="nav-link" href="#">
                    <i class="icon ion-clipboard"></i>
                    <span>Companies</span>
                </a>
                <div class="sub-item">
                    <ul>
                        <li><a href="{% url 'r_admin:company-all' %}">View all</a></li>
                        <li><a href="{% url 'r_admin:company-add' %}">Add</a></li>
                    </ul>
                </div><!-- dropdown-menu -->
            </li>
            <li class="nav-item with-sub">
                <a class="nav-link" href="#">
                    <i class="icon ion-bookmark"></i>
                    <span>Categories</span>
                </a>
                <div class="sub-item">
                    <ul>
                        <li><a href="{% url 'r_admin:category-all' %}">View all</a></li>
                        <li><a href="{% url 'r_admin:category-add' %}">Add</a></li>
                    </ul>
                </div><!-- dropdown-menu -->
            </li>
        </ul>
    </div><!-- container -->
</div><!-- slim-navbar -->