<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My site</title>

    {% include 'commons/styles.html' %}
</head>
<body>
{% if not 'sign_up' in request.path and not 'sign_in' in request.path%}
    {% include 'commons/header.html' %}
{% endif %}
{#{% include 'commons/navbar.html' %}#}

<div class="slim-mainpanel">
    <div class="container">

    {% if not 'sign_up' in request.path and not 'sign_in' in request.path%}
        <div class="slim-pageheader">
            {% block header %}
            {% endblock %}
        </div><!-- slim-pageheader -->
    {% endif %}

        <div class="row">
            <div class="col-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div><!-- container -->
</div><!-- slim-mainpanel -->

{% if not 'sign_up' in request.path and not 'sign_in' in request.path%}
    {% include 'commons/footer.html' %}
{% endif %}

{% include 'commons/scripts.html' %}
</body>
</html>
