{% extends 'commons/wrapper.html' %}
{% load staticfiles humanize %}

{% block header %}
    <ol class="breadcrumb slim-breadcrumb">
        {#        <li class="breadcrumb-item"><a href="#">Home</a></li>#}
        {#        <li class="breadcrumb-item active" aria-current="page">Blank</li>#}
    </ol>
    <h1 class="slim-pagetitle">Landing</h1>
{% endblock %}

{% block content %}
    <form id="for-cart-items" method="post" class="row row-sm" action="{% url 'basket:add' %}">
        {% csrf_token %}
        {% for object in object_list %}
            <div class="col-sm-6 col-lg-3 mt-3">
                <div class="card-contact">
                    <div class="tx-center">
                        <img src="http://via.placeholder.com/500x500" class="card-img" alt="">
                        <h5 class="mg-t-10 mg-b-5">{{ object.name }}</h5>
                        <p>{{ object.category }}</p>
                    </div><!-- tx-center -->
                    <p class="contact-item">
                        <span>Регион:</span>
                        <span>{{ object.get_region_display }}</span>
                    </p><!-- contact-item -->
                    <p class="contact-item">
                        <span>Цена</span>
                        <span>{{ object.price|intcomma }} $</span>
                    </p><!-- contact-item -->
                    <p class="contact-item">
                        <span>Количество:</span>
                        <span>{{ object.quantity }}</span>
                    </p><!-- contact-item -->
                    {% if user.is_authenticated %}
                        <div class="row mt-3">
                            <button data-company-id="{{ object.pk }}"
                                    class="col-12 for-cart-items-button btn btn-teal">Add to cart
                            </button>
                            <a href="{% url 'orders:order-add' %}" id="for-company-{{ object.pk }}" style="color: #fff;"
                                    class="col-4 d-none btn btn-info">{{ object.ordering }}</a>
                        </div>
                    {% endif %}
                </div><!-- cart -->
            </div><!-- col -->
        {% endfor %}
    </form><!-- row -->
{% endblock %}

{% block pagescripts %}
    <script src="{% static 'commons/js/settings.js' %}"></script>
{% endblock %}